# Stuff Lending System Test Report

**Version:**  
**Date:** 2024.10.10  
**Environment:** Windows , Java version 17.0.5 , Performed by: ek223zf, sa225hg, ad223jd 
| Case   | Result | Note |
|:------------- |:---------------:|:---------------:|
| 5.1    | ok     |  |
| 1.1    | ok     |  |
| 1.2    | ok     |  |
| 1.3    | ok     |  |
| 2.1    | ok     |  |
| 2.2    | ok     |  |
| 2.3    | ok     |  |
| 3.1    | ok     |  |
| 3.2    | ok     |  |
| 3.3    | ok     |  |
| 3.4    | ok     |  |
| 3.5    | ok     |  |
| 3.6    | ok     |  |
| 4.1    | ok     |  |
