# Stuff Lending System Test Report
**Test results after** ``./gradlew build`` **command:**

```
CodeQualityTests > codeQuality() STANDARD_OUT
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/controller/App.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/controller/ObjectController.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Admin.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Contract.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Item.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Member.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Service.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/model/Time.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/view/ConsoleUi.java
    0 CheckStyle Issues in C:/Users/etkae/Desktop/Skola/Java/1DV607/a2/app/src/main/java/view/ViewInterface.java
    0 FindBugs Issues in model/Time.java
    0 FindBugs Issues in view/ViewInterface.java
    0 FindBugs Issues in model/Contract.java
    0 FindBugs Issues in controller/App.java
    0 FindBugs Issues in view/ConsoleUi.java
    0 FindBugs Issues in model/Admin.java
    0 FindBugs Issues in model/Service.java
    0 FindBugs Issues in model/Item.java
    0 FindBugs Issues in controller/ObjectController.java
    0 FindBugs Issues in model/Member.java
```

